In [ ]:
print("hello, world")

hello, world

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
name = "evans"

In [ ]:
number = "80.5"

In [ ]:
print(type(number))

<class 'str'>

In [ ]:
name = ("evans",20, "ola")

In [ ]:
print(type(name))

<class 'tuple'>

In [ ]:
## converting tuple to list

convert_tuple_to_list = list(name)

In [ ]:
print(convert_tuple_to_list)

['evans', 20, 'ola']

In [ ]:
## IF STATEMENT 

age = int(input("how old are you: "))

how old are you: 38

In [ ]:
## functions

def greetings():
    print("hello, how are you doing: ")

In [ ]:
print(greetings())

hello, how are you doing:
None

In [ ]:
import math

print(math.sqrt(16))

4.0

In [ ]:
import datetime

now = datetime.datetime.now

print(now)

<built-in method now of type object at 0x102d80978>

In [ ]:
name = ["ola", "ojo", "olu"]

In [ ]:
name.append(["evans", "tope"])

In [ ]:
print(name)

['ola', 'ojo', 'olu', ['evans', 'tope']]

In [ ]:
name.pop()

['evans', 'tope']

In [ ]:
name.pop(-1)

'olu'

In [ ]:
file = open("evans.txt", "r")

In [ ]:
contents = file.read()
print(contents)

hey you have to move on, i have missed you

In [ ]:
file.close()

In [ ]:
print(contents)

hey you have to move on, i have missed you

In [ ]:
with  open("evans.txt", "r") as file:
    contents = file.read()
    print(contents)

hey you have to move on, i have missed you

In [ ]:
## using the "w" function to overwrite the previous text on file

with  open("evans.txt", "w") as file:
    file.write("hey you have to move on")

In [ ]:
with  open("evans.txt", "a") as file:
    file.write(", i have missed you")

In [ ]:
with  open("evans.txt", "r") as file:
    all_lines = file.readlines()
    print(all_lines)

['hey you have to move on, i have missed you']

In [ ]:
file.close()

In [ ]:
import csv

In [ ]:
print(csv)

<module 'csv' from '/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/csv.py'>

In [1]:
pip install --upgrade pip

Requirement already satisfied: pip in ./my_new_env/lib/python3.12/site-packages (24.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --upgrade pip

Requirement already satisfied: pip in ./my_new_env/lib/python3.12/site-packages (24.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [7]:
pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_by_total_wealth")

[     Country (or area)         Subregion            Region  \
 0                World             World             World
 1     Asia and Oceania  Asia and Oceania  Asia and Oceania
 2     Northern America  Northern America  Northern America
 3      United States *  Northern America          Americas
 4               Europe            Europe            Europe
 ..                 ...               ...               ...
 174          Grenada *         Caribbean          Americas
 175            Samoa *         Polynesia           Oceania
 176  Solomon Islands *         Melanesia           Oceania
 177          Somalia *    Eastern Africa            Africa
 178       Uzbekistan *      Central Asia              Asia

     Total wealth (USD bn) % of world Wealth to GDP ratio[3] (2017–19)
 0                  454385     100.0%                                —
 1                  177824      39.1%                                —
 2                  151170      33.2%                                —
 3                  139866      30.8%                            5.493
 4                  104410      23.0%                                —
 ..                    ...        ...                              ...
 174                     —          —                                —
 175                     —          —                                —
 176                     —          —                                —
 177                     —          —                                —
 178                     —          —                                —

 [179 rows x 6 columns],
            Country    2000       Country.1    2005       Country.2    2010  \
 0            World  117825           World  182218           World  252084
 1    United States   43423   United States   62634   United States   64661
 2            Japan   19404           Japan   19476           Japan   28640
 3   United Kingdom    6565  United Kingdom   10949           China   25493
 4          Germany    6160          France    9679          France   13526
 5            Italy    5522           Italy    9457         Germany   11934
 6           France    4704         Germany    9073           Italy   11545
 7            China    3704           China    8522  United Kingdom   11199
 8           Canada    2613           Spain    6905           Spain    8701
 9            Spain    2497          Canada    4363          Canada    6832
 10     South Korea    1721     South Korea    3508           India    6810
 11     Netherlands    1591       Australia    3480       Australia    6662
 12           India    1553           India    3266     South Korea    4744
 13       Australia    1500     Netherlands    2524     Netherlands    3323
 14          Taiwan    1437          Taiwan    1883          Brazil    3128
 15     Switzerland    1273         Belgium    1826     Switzerland    2892
 16         Belgium    1110     Switzerland    1737          Taiwan    2628
 17       Hong Kong     871          Mexico    1563         Belgium    2565
 18          Mexico     828         Austria    1067          Mexico    2261
 19         Austria     719          Brazil    1064          Russia    2165
 20          Brazil     646          Turkey    1034          Turkey    1718
 21          Greece     618          Greece    1020          Sweden    1628
 22          Turkey     525       Hong Kong     976       Hong Kong    1588
 23          Sweden     522          Sweden     966         Austria    1460
 24         Denmark     451          Russia     869       Indonesia    1359
 25        Portugal     422         Denmark     799          Greece    1252
 26    Saudi Arabia     415        Portugal     731         Denmark    1022
 27       Indonesia     364       Indonesia     704          Norway     988
 28         Ireland     336         Ireland     696        Portugal     958
 29          Norway     336          Poland     622          Poland     936
 30       Singapore     324    Saudi Arabia     620        Thailand     926

          Country.3    2015       Country.4    2020       Country.5    2022  \
 0            World  297743           World  422718           World  454385
 1    United States   87959   United States  126300   United States  139866
 2            China   46535           China   73866           China   84485
 3            Japan   21519           Japan   26744           Japan   22582
 4   United Kingdom   13978         Germany   18053         Germany   17426
 5          Germany   12009          France   16326  United Kingdom   15972
 6           France   11594  United Kingdom   15454          France   15727
 7            Italy   10506           India   12688           India   15365
 8            India    8948           Italy   12176          Canada   11263
 9           Canada    6930          Canada   10586           Italy   11020
 10       Australia    6424     South Korea    9625     South Korea    9890
 11           Spain    6177       Australia    9268       Australia    9720
 12     South Korea    6128           Spain    8759           Spain    8487
 13          Taiwan    3514     Netherlands    5447          Taiwan    5422
 14     Switzerland    3428          Taiwan    4920     Netherlands    4869
 15     Netherlands    3255     Switzerland    4673          Mexico    4863
 16          Mexico    2659          Mexico    3767     Switzerland    4829
 17       Hong Kong    2548         Belgium    3544          Brazil    4628
 18         Belgium    2531       Hong Kong    3446          Russia    4386
 19          Brazil    2398          Russia    3177       Hong Kong    3493
 20       Indonesia    1899          Brazil    3092       Indonesia    3256
 21          Russia    1824       Indonesia    3087         Belgium    3195
 22          Sweden    1783          Sweden    2742            Iran    3034
 23          Turkey    1777    Saudi Arabia    1905          Sweden    2335
 24    Saudi Arabia    1437         Austria    1855    Saudi Arabia    2268
 25         Austria    1408         Denmark    1793       Singapore    1906
 26       Singapore    1075       Singapore    1637         Denmark    1869
 27         Denmark    1055          Turkey    1509         Austria    1794
 28           Egypt    1035          Poland    1465          Norway    1644
 29        Thailand    1000            Iran    1443          Poland    1592
 30          Poland     993     New Zealand    1436     New Zealand    1426

          Country.6  Peak value  Peak year
 0            World      465666       2021
 1    United States      145793       2021
 2            China       85947       2021
 3            Japan       29718       2011
 4          Germany       18412       2021
 5   United Kingdom       16741       2021
 6           France       16326       2020
 7            India       15365       2022
 8            Italy       12820       2007
 9           Canada       12501       2021
 10       Australia       10734       2021
 11           Spain       10296       2007
 12     South Korea        9946       2021
 13          Taiwan        5776       2021
 14     Netherlands        5447       2020
 15     Switzerland        4893       2021
 16          Mexico        4863       2022
 17          Brazil        4628       2022
 18          Russia        4386       2022
 19         Belgium        3544       2020
 20       Hong Kong        3495       2021
 21       Indonesia        3256       2022
 22            Iran        3034       2022
 23          Sweden        2865       2021
 24    Saudi Arabia        2268       2022
 25         Denmark        1998       2021
 26          Turkey        1970       2013
 27       Singapore        1906       2022
 28         Austria        1855       2020
 29     New Zealand        1658       2021
 30          Norway        1644       2022  ,
    Year Australia Canada China France Germany India Italy  Japan South Korea  \
 0  2000         —   2.2%  3.1%   4.0%    5.2%     —  4.7%  16.5%        1.5%
 1  2001         —   2.1%  3.6%   4.0%    5.2%     —  4.6%  14.1%        1.5%
 2  2002         —   2.0%  3.7%   4.6%    5.5%     —  5.3%  13.8%        1.7%
 3  2003      1.9%   2.2%  3.7%   5.2%    5.8%     —  5.7%  12.9%           —
 4  2004      1.9%   2.2%  3.9%   5.6%    5.7%     —  5.7%  11.5%           —
 5  2005         —   2.4%  4.7%   5.3%    5.0%     —  5.2%  10.7%        1.9%
 6  2006      2.0%   2.3%  5.0%   5.8%    5.0%     —  5.5%   9.5%           —
 7  2007      2.3%   2.6%  6.0%   6.1%    5.3%     —  5.5%   8.6%           —
 8  2008         —   2.2%  8.2%   6.0%    5.4%  2.2%  5.6%  11.2%           —
 9  2009      2.4%   2.6%  8.6%   5.7%    5.3%     —  5.4%  10.2%           —

   Spain United Kingdom United States Aggregate share of the top 10
 0  2.1%           5.6%         36.9%                         81.8%
 1  2.3%           5.6%         38.8%                         81.8%
 2  2.9%           6.1%         35.1%                         80.7%
 3  3.5%           6.2%         32.8%                         79.9%
 4  3.9%           6.5%         32.5%                         79.4%
 5  3.8%           6.0%         34.4%                         79.4%
 6  4.2%           6.4%         32.3%                         78.0%
 7  4.4%           6.2%         29.3%                         76.3%
 8  4.4%           4.4%         27.5%                         77.1%
 9  4.1%           4.8%         26.3%                         75.4%  ,
    Year Australia Canada  China France Germany India Italy  Japan South Korea  \
 0  2010         —   2.7%  10.1%   5.4%    4.7%  2.7%  4.6%  11.4%           —
 1  2011         —   2.7%  11.9%   5.1%    4.6%  2.5%  4.3%  11.4%           —
 2  2012         —   2.8%  12.5%   4.8%    4.6%  2.7%  4.2%   9.8%           —
 3  2013         —   2.7%  13.8%   4.8%    4.7%  2.6%  4.1%   7.8%           —
 4  2014      2.2%   2.6%  15.1%   4.2%    4.3%  2.8%  3.9%   7.1%           —
 5  2015      2.2%   2.3%  15.6%   3.9%    4.0%  3.0%  3.5%   7.2%           —
 6  2016      2.2%   2.5%  16.7%   3.8%    3.9%  3.2%  3.3%   7.2%           —
 7  2017      2.2%   2.4%  17.4%   3.9%    4.1%  3.3%  3.3%   6.7%           —
 8  2018         —   2.2%  18.4%   3.8%    4.1%  3.4%  3.0%   6.7%        2.2%
 9  2019         —   2.3%  18.1%   3.6%    4.0%  3.4%  2.8%   6.5%        2.1%

   Spain United Kingdom United States Aggregate share of the top 10
 0  3.5%           4.4%         25.7%                         75.2%
 1  3.4%           4.5%         25.2%                         75.6%
 2  2.9%           4.4%         25.6%                         74.3%
 3  2.7%           4.5%         26.8%                         74.5%
 4     —           4.7%         28.6%                         75.5%
 5     —           4.7%         29.5%                         75.9%
 6     —           4.0%         29.9%                         76.7%
 7     —           4.1%         28.4%                         75.8%
 8     —           3.7%         28.5%                         76.0%
 9     —           3.6%         29.6%                         76.0%  ,
    Year Australia Canada  China France Germany India Italy Japan South Korea  \
 0  2020         —   2.5%  17.5%   3.9%    4.3%  3.0%  2.9%  6.3%        2.3%
 1  2021      2.3%   2.7%  18.5%   3.5%    4.0%  3.2%  2.5%  5.4%           —
 2  2022         —   2.5%  18.6%   3.5%    3.8%  3.4%  2.4%  5.0%        2.2%
 3  2023       NaN    NaN    NaN    NaN     NaN   NaN   NaN   NaN         NaN

   Spain United Kingdom United States Aggregate share of the top 10
 0     —           3.7%         29.9%                         76.3%
 1     —           3.6%         31.3%                         77.0%
 2     —           3.5%         30.8%                         75.7%
 3   NaN            NaN           NaN                           NaN  ,
               vteEconomic classification of countries  \
 0   Developed country Developing country Heavily i...
 1                              Three/Four-World Model
 2                        Gross domestic product (GDP)
 3                                             Nominal
 4                       Purchasing power parity (PPP)
 5                         Gross national income (GNI)
 6                                               Wages
 7                                              Wealth
 8                             Other national accounts
 9                                   Human development
 10                                     Digital divide
 11       Net international investment position (NIIP)
 12                     Economics portal  World portal

             vteEconomic classification of countries.1
 0   Developed country Developing country Heavily i...
 1   First World Second World Third World Fourth World
 2   Nominal By country past and projected per capi...
 3   By country past and projected per capita per c...
 4   By country future estimates per capita per cap...
 5   Nominal per capita Real income PPP per capita ...
 6   Average wage Europe Employee compensation (per...
 7   Wealth per adult Europe Financial assets per c...
 8   Gross National Happiness Net material product ...
 9   Human Development Index by country inequality-...
 10  ICT Development Index Number of broadband Inte...
 11        Per capita (creditors) Per capita (debtors)
 12                     Economics portal  World portal  ,
                                0  \
 0                        Nominal
 1  Purchasing power parity (PPP)

                                                    1
 0  By country past and projected per capita per c...
 1  By country future estimates per capita per cap...  ,
          vteLists of countries by financial rankings  \
 0                                              Trade
 1                                         Investment
 2                                              Funds
 3                                    Budget and debt
 4                                   Income and taxes
 5                                         Bank rates
 6                                           Currency
 7                                              Other
 8  Lists of countries by GDP rankings List of int...

        vteLists of countries by financial rankings.1
 0  Account balance % of GDP Exports by product me...
 1                   FDI received past FDI abroad GFI
 2  Forex reserves Gold reserves Sovereign wealth ...
 3  Government budget PPP % of GDP per capita Cred...
 4  Tax rates Inheritance tax Tax revenue Wage ave...
 5  Central bank interest rate Commercial bank pri...
 6                                     Inflation rate
 7  Financial Development Index Average annual lab...
 8  Lists of countries by GDP rankings List of int...  ,
                                     vteExtreme wealth  \
 0                                            Concepts
 1   Capital accumulation Overaccumulation Economic...
 2                                              People
 3                                              Wealth
 4                                               Lists
 5                                              People
 6                                       Organizations
 7                                               Other
 8                                             Related
 9   Diseases of affluence Affluenza Acquired situa...
 10                                       Philanthropy
 11                                            Sayings
 12                                              Media
 13                                Category by country

                                   vteExtreme wealth.1
 0   Capital accumulation Overaccumulation Economic...
 1   Capital accumulation Overaccumulation Economic...
 2   Billionaire Captain of industry High-net-worth...
 3   Concentration Distribution Dynastic Effect Geo...
 4   People Forbes list of billionaires List of cen...
 5   Forbes list of billionaires List of centibilli...
 6   Largest companies by revenue Largest corporate...
 7   Cities by number of billionaires Countries by ...
 8   Diseases of affluence Affluenza Acquired situa...
 9   Diseases of affluence Affluenza Acquired situa...
 10  Gospel of Wealth The Giving Pledge Philanthroc...
 11  The rich get richer and the poor get poorer So...
 12  Das Kapital Plutus Greek god of wealth Supercl...
 13                                Category by country  ,
                                                    0  \
 0  Capital accumulation Overaccumulation Economic...
 1                                             People
 2                                             Wealth

                                                    1
 0  Capital accumulation Overaccumulation Economic...
 1  Billionaire Captain of industry High-net-worth...
 2  Concentration Distribution Dynastic Effect Geo...  ,
                0                                                  1
 0         People  Forbes list of billionaires List of centibilli...
 1  Organizations  Largest companies by revenue Largest corporate...
 2          Other  Cities by number of billionaires Countries by ...,
                                                    0  \
 0  Diseases of affluence Affluenza Acquired situa...
 1                                       Philanthropy
 2                                            Sayings
 3                                              Media

                                                    1
 0  Diseases of affluence Affluenza Acquired situa...
 1  Gospel of Wealth The Giving Pledge Philanthroc...
 2  The rich get richer and the poor get poorer So...
 3  Das Kapital Plutus Greek god of wealth Supercl...  ]

In [6]:
pip install lxml

Collecting lxml
  Downloading lxml-5.3.0-cp312-cp312-macosx_10_9_universal2.whl.metadata (3.8 kB)
Downloading lxml-5.3.0-cp312-cp312-macosx_10_9_universal2.whl (8.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.2/8.2 MB 36.6 MB/s eta 0:00:00 MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-5.3.0
Note: you may need to restart the kernel to use updated packages.