In [33]:
##  SETS


thisset = {"apple", "banana", "cherry"}

for y in thisset:
  print(y)

banana
cherry
apple

In [36]:
## Check if "apple" is present in the set:


thisset = {"apple", "banana", "cherry"}

print("cherry" in thisset)

True

In [37]:
##  Check if "mike" is NOT present in the LIST:


names_of_student_present = ["abbey", "ola", "johnson", "mike"]

In [38]:
print(names_of_student_present)

['abbey', 'ola', 'johnson', 'mike']

In [39]:
print("mike" in names_of_student_present)

True

In [40]:
print("lekan" in names_of_student_present)

False

In [41]:
names_of_student_present.append("lekan")

In [42]:
print("lekan" in names_of_student_present)

True

In [43]:
print("lekan" not in names_of_student_present)

False

In [44]:
print("ojo" not in  names_of_student_present)

True

In [9]:
## Joining both SETS Variable using UNION  

payment_1 = {900, 354, 289, 764.89}
payment_2 = {467, 90, 123.45, 890.67}

In [10]:
payment_3 = payment_1.union(payment_2)

In [11]:
print(payment_3)

{289, 354, 900, 467, 90, 123.45, 764.89, 890.67}

In [15]:
payment_3.add(6000)

In [16]:
payment_3.add(2000)

In [17]:
print(payment_3)

{289, 354, 900, 1000, 2000, 6000, 467, 90, 123.45, 764.89, 890.67}

In [1]:
name = "ola"

In [2]:
print(name)

ola

In [3]:
print(type(name))

<class 'str'>

In [1]:
number = []

In [2]:
number.append(2000)

In [3]:
number.append(150)

In [4]:
print(number)

[2000, 150]

In [1]:
names = {"ola", "ope"}

In [2]:
print(names)

{'ope', 'ola'}

In [3]:
names.add("evans")

In [4]:
print(names)

{'ope', 'ola', 'evans'}

In [9]:
names.add("olayemisi")

In [10]:
print(names)

{'ola', 'olayemisi,ojo', 'evans', 'ope', 'olayemisi'}