In [3]:
## if statment

lucky_number = 10
user = int(input("enter your lucky numner: "))
if user == lucky_number:
    print("Congratulation you won")
else:
    print(f"ouh wrong numbr, try your luck again next time")

enter your lucky numner: 10
Congratulation you won

In [4]:
lucky_number = 50
user = int(input("enter your lucky numner: "))
if user == lucky_number:
    print("Congratulation you won")
else:
    print(f"ouh wrong numbr, try your luck again next time")

enter your lucky numner: 51
ouh wrong numbr, try your luck again next time

In [13]:
##converting list to tuple


amount_of_loan_paid_by_debtors = [700.890, 400.234, 100.000, ]

In [14]:
print(type(amount_of_loan_paid_by_debtors))

<class 'list'>

In [15]:
amount_of_loan_paid_by_debtors.append(500.900)

In [16]:
amount_of_loan_paid_by_debtors.append(390.593)

In [17]:
print(amount_of_loan_paid_by_debtors)

[700.89, 400.234, 100.0, 500.9, 390.593]

In [18]:
convert_amount_of_loan_paid_by_debtors_to_tuple = tuple(amount_of_loan_paid_by_debtors)

In [19]:
print(convert_amount_of_loan_paid_by_debtors_to_tuple)

(700.89, 400.234, 100.0, 500.9, 390.593)

In [20]:
print(type(convert_amount_of_loan_paid_by_debtors_to_tuple))

<class 'tuple'>

In [22]:
number = 40 * 5
print(number)

200

In [23]:
number = 50/100
print(number)

0.5

In [78]:
### converting set to list and then to tuple


names_of_student_present_in_class = {"evans 25 , ola 22 , johnson 21, tobi 27, tolu 30"}

In [79]:
print(names_of_student_present_in_class)

{'evans 25 , ola 22 , johnson 21, tobi 27, tolu 30'}

In [80]:
print(type(names_of_student_present_in_class))

<class 'set'>

In [81]:
convert_set_to_list = list(names_of_student_present_in_class)

In [82]:
print(convert_set_to_list )

['evans 25 , ola 22 , johnson 21, tobi 27, tolu 30']

In [83]:
convert_set_to_list.append("kola,34")

In [84]:
convert_set_to_list.append("funmilayo,22")

In [85]:
print(convert_set_to_list)

['evans 25 , ola 22 , johnson 21, tobi 27, tolu 30', 'kola,34', 'funmilayo,22']

In [86]:
convert_set_to_list.remove("kola,34")

In [87]:
print(convert_set_to_list)

['evans 25 , ola 22 , johnson 21, tobi 27, tolu 30', 'funmilayo,22']

In [88]:
convert_list_to_tuple = tuple(convert_set_to_list)

In [89]:
print(convert_list_to_tuple)

('evans 25 , ola 22 , johnson 21, tobi 27, tolu 30', 'funmilayo,22')

In [90]:
print(type(convert_list_to_tuple))

<class 'tuple'>

In [9]:
bet_wining_number = 20
play = int(input("please play your wining number: "))
if play == 20:
    print("you won")
else:
    print("you are unlucky at this time, donâ€™t give up you can try again next time ")

please play your wining number: 20
you won