In [3]:
## if statment

lucky_number = 10
user = int(input("enter your lucky numner: "))
if user == lucky_number:
    print("Congratulation you won")
else:
    print(f"ouh wrong numbr, try your luck again next time")

enter your lucky numner: 10
Congratulation you won

In [4]:
lucky_number = 50
user = int(input("enter your lucky numner: "))
if user == lucky_number:
    print("Congratulation you won")
else:
    print(f"ouh wrong numbr, try your luck again next time")

enter your lucky numner: 51
ouh wrong numbr, try your luck again next time

In [13]:
##converting list to tuple


amount_of_loan_paid_by_debtors = [700.890, 400.234, 100.000, ]

In [14]:
print(type(amount_of_loan_paid_by_debtors))

<class 'list'>

In [15]:
amount_of_loan_paid_by_debtors.append(500.900)

In [16]:
amount_of_loan_paid_by_debtors.append(390.593)

In [17]:
print(amount_of_loan_paid_by_debtors)

[700.89, 400.234, 100.0, 500.9, 390.593]

In [18]:
convert_amount_of_loan_paid_by_debtors_to_tuple = tuple(amount_of_loan_paid_by_debtors)

In [19]:
print(convert_amount_of_loan_paid_by_debtors_to_tuple)

(700.89, 400.234, 100.0, 500.9, 390.593)

In [20]:
print(type(convert_amount_of_loan_paid_by_debtors_to_tuple))

<class 'tuple'>

In [22]:
number = 40 * 5
print(number)

200

In [23]:
number = 50/100
print(number)

0.5

In [78]:
### converting set to list and then to tuple


names_of_student_present_in_class = {"evans 25 , ola 22 , johnson 21, tobi 27, tolu 30"}

In [79]:
print(names_of_student_present_in_class)

{'evans 25 , ola 22 , johnson 21, tobi 27, tolu 30'}

In [80]:
print(type(names_of_student_present_in_class))

<class 'set'>

In [81]:
convert_set_to_list = list(names_of_student_present_in_class)

In [82]:
print(convert_set_to_list )

['evans 25 , ola 22 , johnson 21, tobi 27, tolu 30']

In [83]:
convert_set_to_list.append("kola,34")

In [84]:
convert_set_to_list.append("funmilayo,22")

In [85]:
print(convert_set_to_list)

['evans 25 , ola 22 , johnson 21, tobi 27, tolu 30', 'kola,34', 'funmilayo,22']

In [86]:
convert_set_to_list.remove("kola,34")

In [87]:
print(convert_set_to_list)

['evans 25 , ola 22 , johnson 21, tobi 27, tolu 30', 'funmilayo,22']

In [88]:
convert_list_to_tuple = tuple(convert_set_to_list)

In [89]:
print(convert_list_to_tuple)

('evans 25 , ola 22 , johnson 21, tobi 27, tolu 30', 'funmilayo,22')

In [90]:
print(type(convert_list_to_tuple))

<class 'tuple'>

In [94]:
## if and else statement


bet_wining_number = 20
play = int(input("please play your wining number: "))
if play == 20:
    print("you won")
else:
    print("you are unlucky at this time, donâ€™t give up you can try again next time ")

please play your wining number: 20
you won

In [16]:
## converting set to list

names_of_student_present_in_class_today = {"evans, foli, seyi, kunle, seye, dokun"}

In [17]:
print(type(names_of_student_present_in_class_today))

<class 'set'>

In [18]:
print(names_of_student_present_in_class_today)

{'evans, foli, seyi, kunle, seye, dokun'}

In [19]:
convert_set_to_list = list(names_of_student_present_in_class_today)

In [20]:
print(convert_set_to_list)

['evans, foli, seyi, kunle, seye, dokun']

In [21]:
convert_set_to_list.append("olasunkanmi")

In [22]:
convert_set_to_list.append("precious")

In [23]:
print(convert_set_to_list)

['evans, foli, seyi, kunle, seye, dokun', 'olasunkanmi', 'precious']

In [24]:
convert_set_to_list.remove("precious")

In [25]:
print(convert_set_to_list)

['evans, foli, seyi, kunle, seye, dokun', 'olasunkanmi']

In [31]:
## converting list to str


convert_list_to_str = str(convert_set_to_list)

In [32]:
print(convert_list_to_str)

['evans, foli, seyi, kunle, seye, dokun', 'olasunkanmi']

In [33]:
print(type(convert_list_to_str))

<class 'str'>

In [42]:
convert_list_to_str.endswith(convert_list_to_str)

True

In [43]:
print(len(convert_list_to_str))

56

In [52]:
print(convert_list_to_str[0:56])

['evans, foli, seyi, kunle, seye, dokun', 'olasunkanmi']

In [81]:
## converting list to set and then back to list

## when you convert list to set all the dubplicates names or numbers will be removed 


name = ["evans", "ola", "johnson", "olu", "olu" ,"evans"]

In [82]:
print(type(name))

<class 'list'>

In [83]:
print(name)

['evans', 'ola', 'johnson', 'olu', 'olu', 'evans']

In [84]:
new_name = set(name)

In [85]:
print(new_name)

{'olu', 'evans', 'ola', 'johnson'}

In [86]:
print(type(new_name))

<class 'set'>

In [87]:
print(list(new_name))

['olu', 'evans', 'ola', 'johnson']

In [88]:

## converting tuple to list and then back to tuple
 ## i only converted tuple to list because tuple does not has the attribute append



numbers = (33, 55, 67, 14, 70)

In [89]:
print(type(numbers))

<class 'tuple'>

In [90]:
convert_tuple_to_list = list(numbers)

In [91]:
print(convert_tuple_to_list)

[33, 55, 67, 14, 70]

In [92]:
convert_tuple_to_list.append(100)

In [93]:
print(convert_tuple_to_list)

[33, 55, 67, 14, 70, 100]

In [78]:
convert_list_to_tuple = tuple(convert_tuple_to_list)

In [79]:
print(convert_list_to_tuple)

(33, 55, 67, 14, 70, 100)

In [80]:
print(type(convert_list_to_tuple))

<class 'tuple'>

In [1]:
name = ["evans, dotun, seye"]

In [2]:
print(type(name))

<class 'list'>

In [3]:
print(name)

['evans, dotun, seye']

In [4]:
name.append("olu")

In [5]:
name.append("mr olu, 32")

In [6]:
print(name)

['evans, dotun, seye', 'olu', 'mr olu, 32']

In [4]:
name = "ola"

In [5]:
print(name)

ola

In [6]:
print(type(name))

<class 'str'>

In [3]:
age_allowed_to_apply_for_student_loan = int(input("dear valid customer, to submit your application please tell us your age"))

if age_allowed_to_apply_for_student_loan < 21:
    print("sorry you are not permitted ")
else:
    print("Congratulation your student loan has been granted")

dear valid customer, to submit your application please tell us your age22
Congratulation your student loan has been granted