In [3]:
## if statment

lucky_number = 10
user = int(input("enter your lucky numner: "))
if user == lucky_number:
    print("Congratulation you won")
else:
    print(f"ouh wrong numbr, try your luck again next time")

enter your lucky numner: 10
Congratulation you won

In [4]:
lucky_number = 50
user = int(input("enter your lucky numner: "))
if user == lucky_number:
    print("Congratulation you won")
else:
    print(f"ouh wrong numbr, try your luck again next time")

enter your lucky numner: 51
ouh wrong numbr, try your luck again next time

In [13]:
##converting list to tuple


amount_of_loan_paid_by_debtors = [700.890, 400.234, 100.000, ]

In [14]:
print(type(amount_of_loan_paid_by_debtors))

<class 'list'>

In [15]:
amount_of_loan_paid_by_debtors.append(500.900)

In [16]:
amount_of_loan_paid_by_debtors.append(390.593)

In [17]:
print(amount_of_loan_paid_by_debtors)

[700.89, 400.234, 100.0, 500.9, 390.593]

In [18]:
convert_amount_of_loan_paid_by_debtors_to_tuple = tuple(amount_of_loan_paid_by_debtors)

In [19]:
print(convert_amount_of_loan_paid_by_debtors_to_tuple)

(700.89, 400.234, 100.0, 500.9, 390.593)

In [20]:
print(type(convert_amount_of_loan_paid_by_debtors_to_tuple))

<class 'tuple'>

In [22]:
number = 40 * 5
print(number)

200

In [23]:
number = 50/100
print(number)

0.5

In [78]:
### converting set to list and then to tuple


names_of_student_present_in_class = {"evans 25 , ola 22 , johnson 21, tobi 27, tolu 30"}

In [79]:
print(names_of_student_present_in_class)

{'evans 25 , ola 22 , johnson 21, tobi 27, tolu 30'}

In [80]:
print(type(names_of_student_present_in_class))

<class 'set'>

In [81]:
convert_set_to_list = list(names_of_student_present_in_class)

In [82]:
print(convert_set_to_list )

['evans 25 , ola 22 , johnson 21, tobi 27, tolu 30']

In [83]:
convert_set_to_list.append("kola,34")

In [84]:
convert_set_to_list.append("funmilayo,22")

In [85]:
print(convert_set_to_list)

['evans 25 , ola 22 , johnson 21, tobi 27, tolu 30', 'kola,34', 'funmilayo,22']

In [86]:
convert_set_to_list.remove("kola,34")

In [87]:
print(convert_set_to_list)

['evans 25 , ola 22 , johnson 21, tobi 27, tolu 30', 'funmilayo,22']

In [88]:
convert_list_to_tuple = tuple(convert_set_to_list)

In [89]:
print(convert_list_to_tuple)

('evans 25 , ola 22 , johnson 21, tobi 27, tolu 30', 'funmilayo,22')

In [90]:
print(type(convert_list_to_tuple))

<class 'tuple'>

In [94]:
## if and else statement


bet_wining_number = 20
play = int(input("please play your wining number: "))
if play == 20:
    print("you won")
else:
    print("you are unlucky at this time, don’t give up you can try again next time ")

please play your wining number: 20
you won

In [16]:
## converting set to list

names_of_student_present_in_class_today = {"evans, foli, seyi, kunle, seye, dokun"}

In [17]:
print(type(names_of_student_present_in_class_today))

<class 'set'>

In [18]:
print(names_of_student_present_in_class_today)

{'evans, foli, seyi, kunle, seye, dokun'}

In [19]:
convert_set_to_list = list(names_of_student_present_in_class_today)

In [20]:
print(convert_set_to_list)

['evans, foli, seyi, kunle, seye, dokun']

In [21]:
convert_set_to_list.append("olasunkanmi")

In [22]:
convert_set_to_list.append("precious")

In [23]:
print(convert_set_to_list)

['evans, foli, seyi, kunle, seye, dokun', 'olasunkanmi', 'precious']

In [24]:
convert_set_to_list.remove("precious")

In [25]:
print(convert_set_to_list)

['evans, foli, seyi, kunle, seye, dokun', 'olasunkanmi']

In [31]:
## converting list to str


convert_list_to_str = str(convert_set_to_list)

In [32]:
print(convert_list_to_str)

['evans, foli, seyi, kunle, seye, dokun', 'olasunkanmi']

In [33]:
print(type(convert_list_to_str))

<class 'str'>

In [42]:
convert_list_to_str.endswith(convert_list_to_str)

True

In [43]:
print(len(convert_list_to_str))

56

In [52]:
print(convert_list_to_str[0:56])

['evans, foli, seyi, kunle, seye, dokun', 'olasunkanmi']

In [81]:
## converting list to set and then back to list

## when you convert list to set all the dubplicates names or numbers will be removed 


name = ["evans", "ola", "johnson", "olu", "olu" ,"evans"]

In [82]:
print(type(name))

<class 'list'>

In [83]:
print(name)

['evans', 'ola', 'johnson', 'olu', 'olu', 'evans']

In [84]:
new_name = set(name)

In [85]:
print(new_name)

{'olu', 'evans', 'ola', 'johnson'}

In [86]:
print(type(new_name))

<class 'set'>

In [87]:
print(list(new_name))

['olu', 'evans', 'ola', 'johnson']

In [88]:

## converting tuple to list and then back to tuple
 ## i only converted tuple to list because tuple does not has the attribute append



numbers = (33, 55, 67, 14, 70)

In [89]:
print(type(numbers))

<class 'tuple'>

In [90]:
convert_tuple_to_list = list(numbers)

In [91]:
print(convert_tuple_to_list)

[33, 55, 67, 14, 70]

In [92]:
convert_tuple_to_list.append(100)

In [93]:
print(convert_tuple_to_list)

[33, 55, 67, 14, 70, 100]

In [78]:
convert_list_to_tuple = tuple(convert_tuple_to_list)

In [79]:
print(convert_list_to_tuple)

(33, 55, 67, 14, 70, 100)

In [80]:
print(type(convert_list_to_tuple))

<class 'tuple'>

In [1]:
name = ["evans, dotun, seye"]

In [2]:
print(type(name))

<class 'list'>

In [3]:
print(name)

['evans, dotun, seye']

In [4]:
name.append("olu")

In [5]:
name.append("mr olu, 32")

In [6]:
print(name)

['evans, dotun, seye', 'olu', 'mr olu, 32']

In [4]:
name = "ola"

In [5]:
print(name)

ola

In [6]:
print(type(name))

<class 'str'>

In [3]:
age_allowed_to_apply_for_student_loan = int(input("dear valid customer, to submit your application please tell us your age"))

if age_allowed_to_apply_for_student_loan < 21:
    print("sorry you are not permitted ")
else:
    print("Congratulation your student loan has been granted")

dear valid customer, to submit your application please tell us your age22
Congratulation your student loan has been granted

In [1]:
numbers = 40 + 50 - 12 % 100

In [3]:
print(numbers)

78

In [4]:
print(type(numbers))

<class 'int'>

In [5]:
name = {"evans"}

In [6]:
print(type(name))

<class 'set'>

In [7]:
print(name)

{'evans'}

In [29]:
x_number = "8"
y_number = "7"

In [30]:
print(type(x_number))

<class 'str'>

In [31]:
###Concatenation

concat = x_number + y_number

In [32]:
print(concat)

87

In [76]:
#####Concatenation
##concating strings quotes together

name = " Mr evans,"
Quote = " how are you doing today? "
greet = " Hey"

In [77]:
concat = greet + name + Quote

In [78]:
print(concat)

 Hey Mr evans, how are you doing today?

In [2]:
name = "evans"

In [3]:
print(name)

evans

In [5]:
print(type(name))

<class 'str'>

In [6]:
numbers = "190, [90]"

In [7]:
print(numbers)

190, [90]

In [8]:
print(type(numbers))

<class 'str'>

In [4]:
numbers_of_tanants = "300"

In [5]:
print(numbers_of_tanants)

300

In [6]:
print(type(numbers_of_tanants))

<class 'str'>

In [7]:
print(int(numbers_of_tanants))

300

In [8]:
print(type(numbers_of_tanants))

<class 'str'>

In [9]:
convert_str_to_int = int(numbers_of_tanants)

In [10]:
print(convert_str_to_int)

300

In [11]:
print(type(convert_str_to_int))

<class 'int'>

In [15]:
Tittle = "Mr "
name = "evans"
greetings = " hallo all is gut"
print(Tittle + name + greetings)

Mr evans hallo all is gut

In [1]:
### adding temprature variable to the expression 

temperature = "18"

In [2]:
print(temperature + " degrees")

18 degrees

In [3]:
## we can use variables with numbers for calculations 

number_of_steps = 70

In [4]:
print("you are on step:")
print(number_of_steps + 1)

you are on step:
71

In [2]:
### dividing two variable to get the average grade of class 

sum_of_grades = 700
students = 10
print(sum_of_grades / students)

70.0

In [3]:
### when we change a value to its opposite with not, we negate it , like here with not True 

print(not True)

False

In [4]:
### checking if the value of variable is equal to 30

votes = 50

In [5]:
print(votes == 30)

False

In [6]:
print(votes == 50)

True

In [7]:
### to check if a number Isn’t equal to another number , we use the inequality operation, !=

print(1 != 20)

True

In [9]:
numbers_of_student = 100
numbers_of_student_present_in_class_today = 78

In [14]:
print( numbers_of_student_present_in_class_today != numbers_of_student)

True

In [15]:
### variables can store the result of equality comparisons


result = 1 == 5
print(result)

False

In [23]:
date_of_birth = 19 == 26
print(date_of_birth)

False

In [31]:
### we can compare values with variables and variables with other variables with ==

number_1 = 40

number_2 = 50 

print(number_1 == number_2)

False

In [32]:
print(number_1 != number_2)

True

In [33]:
print(40 == number_2)

False

In [35]:
print(number_1 != 50)

True

In [2]:
orders = 1000
capacity = orders == 1000
print(capacity)

True

In [2]:
print("new" + " message")

new message

In [5]:
#### using formatted string 

print(f" {5} new message")

 5 new message

In [9]:
### we can use curly braces to insert values as often as we like inside the f_string. 

print(f" you currently have {19} new messages and {7} friend request" )

 you currently have 19 new messages and 7 friend request

In [4]:
print(f"popularity increased by {45}%")

popularity increased by 45%

In [7]:
### displaying the current temperature by coding 

degree = 90

print(f"Temperature: {degree}F")

Temperature: 90F

In [2]:
battery_level = 30
low = battery_level <= 50
print("low battery:")
print(low)

low battery:
True

In [1]:
name = "kole"

In [2]:
print(name)

kole

In [4]:
print(name + " how are you")

kole how are you

In [2]:
numbers = []

In [3]:
print(numbers)

[]

In [4]:
numbers.append(89)

In [5]:
print(numbers)

[89]

In [6]:
numbers.append(158)

In [7]:
numbers.append(90.5)

In [8]:
print(numbers)

[89, 158, 90.5]

In [9]:
numbers.append(214.8)

In [10]:
numbers.append(21)

In [11]:
print(numbers)

[89, 158, 90.5, 214.8, 21]

In [12]:
print(type(numbers))

<class 'list'>

In [13]:
print(numbers)

[89, 158, 90.5, 214.8, 21]

In [15]:
print("hello")

hello

In [1]:
names_of_students = ["evans:20, tope:32, ola:34, johnson:21"]

In [2]:
print(names_of_students)

['evans:20, tope:32, ola:34, johnson:21']

In [3]:
print(type(names_of_students))

<class 'list'>

In [5]:
names_of_students.append("fola:40")

In [6]:
print(names_of_students)

['evans:20, tope:32, ola:34, johnson:21', 'fola:40']

In [7]:
print(len(names_of_students))

2

In [1]:
name = "tope"

In [2]:
print(name)

tope

In [3]:
print(type(name))

<class 'str'>

In [1]:
name = []

In [2]:
print(name)

[]

In [3]:
name.append("ola")

In [4]:
name.append("tosin")

In [5]:
print(name)

['ola', 'tosin']

In [6]:
name.append("evans")

In [7]:
name.append(40)

In [8]:
print(name)

['ola', 'tosin', 'evans', 40]

In [9]:
name.remove(40)

In [10]:
print(name)

['ola', 'tosin', 'evans']

In [1]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [1]:
name = "evans"